<!DOCTYPE HTML>
<html>
<head>
<title>酒店分布式温控系统|后台管理首页</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<!-- Google fonts -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Pontano+Sans' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
<!-- end google fonts -->
<link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!--nav-->
<script src="/static/js/jquery.min.js"></script>
<style>
      a:link {color:#000000;}      /* 未访问链接*/
    a:visited {color:#FF00FF;}  /* 已访问链接 */
    a:hover {color:#00FFFF;}  /* 鼠标移动到链接上 */
    a:active {color:#0000FF;}  /* 鼠标点击时 */


.button1 {
    background-color: #FFFACD/* Green */
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
</style>


</head>




<body>
<div class="body">
<div class="wrap">
<div class="wrapper">
	<!-- start header-->
	<div class="header">
		<div class="logo">
			<a href="{% url 'index' %}"><img src="/static/images/logo.png" alt=""></a>
		</div>
		<div class="cssmenu">
			<ul>
			  	<li class="active"><a href="{% url 'index' %}">后台管理功能介绍</a></li>
				<li><a href="{% url 'reception' %}">前台</a></li>
				<li><a href="{% url 'boss' %}">经理</a></li>
				<li ><a href="{% url 'manager' %}">管理员</a></li>
				<div class="clear"></div>
			 </ul>
		</div>
		<div class="clear"></div>

	<!-- start banner -->

	<div class="main1">
	 	 <div class="content">
	 	 	<h2>欢迎进入温控管理界面 </h2>
	 	 </div>
    <div class="banner">
    	<br>
    	<br>
    	 <h3>前台：查看和打印空调使用的详单和账单;</h3>
         <h3>经理：查看每日、每周、每月空调收费以及使用频率的统计报表；</h3>
         <h3>管理员：进行中央空调系统的维护：包括运行空调和监视空调；</h3>
         <h4>1)运行空调指设置空调的工作模式、计费费率及温度的工作范围，然后启动空调；</h4>
         <h4>2)监视空调是指监控各酒店房间的空调运行状态，要求可以查看酒店所有房间空调的以下信息：房间号、目标温度、当前温度、风速、累计的费用、累计的时长。</h4>
    </div>
</body>
</html>