<!DOCTYPE HTML>
<html>
<head>
<title>manager</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!--bootstrap4-->
<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
<!-- google fonts -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Pontano+Sans' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
<!-- end google fonts -->
<link href="./css/style.css" rel="stylesheet" type="text/css" media="all" />
<!--nav-->
<script src="./js/jquery.min.js"></script>
<style>
	a:link {color:#000000;}      /* 未访问链接*/
    a:visited {color:#FF00FF;}  /* 已访问链接 */
    a:hover {color:#00FFFF;}  /* 鼠标移动到链接上 */
    a:active {color:#0000FF;}  /* 鼠标点击时 */


.button1 {
    background-color: #FFFACD/* Green */
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
</style>

</head>


<body>
<div class="body">
<div class="wrap">
<div class="wrapper">
	<!-- start header-->
	<div class="header">
		<div class="logo">
			<a href="index.html"><img src="./images/logo.png" alt=""></a>
		</div>
		<div class="cssmenu">
			<ul>
			  	<li><a href="index.html">后台管理功能介绍</a></li>
				<li><a href="reception.html">前台</a></li>
				<li><a href="boss.html">经理</a></li>
				<li class="active"><a href="manager.html">管理员</a></li>
				<div class="clear"></div>
			 </ul>
		</div>
		<div class="clear"></div>
	</div>


    <!-- start content -->
	 <div class="main1">
	 	 <div class="content">
	 	 	<h2>欢迎进入管理员管理界面 </h2>
	 	 </div>
	 	 

	 	 <div class="container">
	 	 <div align="center" style="position:relative;top:10px">
            <button class="button1 btn-outline-info" ><a href="manager_check_state.html">查看空调状态</a></button>
        </div>
        <br>
        <br>
        <br>
        <div align="center" style="position:relative;top:10px">
            <button class="button1 btn-outline-info"><a href="manager_set_para.html">设置空调参数</a></button>
        </div>	
    </div>
</div>
</div>
</div>
</div>
</body>
</html>